# Built application files
/build
/release/output.json
/debug/output.json

# release files
# these are stored securely, separately from the repo
/message-bottle-release.jks
/properties.properties

# Gradle files
.gradle/

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# Android Studio captures folder
captures/

# IntelliJ
.idea

# OSX
.DS_Store